.grid-container {
    display: grid;
    grid-template-areas: 'header header header' 'main right right' 'footer right right';
}

@media (min-width:768px) {
    container {
        width: 750px;
    }
}

@media (min-width:992px) {
    container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    container {
        width: 1170px;
    }
}


/*
col-xs-12{
    grid-column:span 12;
}
col-xs-11{
    grid-column:span 11;
}
col-xs-10{
    grid-column:span 10;
}
    
......
*/